html {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.header {
  display: flex;
  background-color: black;
  opacity: 0.9;
  padding: 6px 10px;
}

.logo {
  display: flex;

  border: 1px solid gold;
  line-height: 52px;
}

.header nav {
  width: 100%;
  text-align: right;
  font-size: 0;
  padding: 100px, 10px;
  /* border: 1px solid red; */
}

.header nav a {
  font-size: 16px;
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
  padding: 0 10px;
  line-height: 52px; /* 還能更好 */
  /* transition: 0.5s; */
}

.header nav a:hover {
  background-color: #fa0;
  /* opacity: 0.5; */
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;

  /* height: 250px; */
}

.path {
  display: flex;
}

.path li {
  position: relative;
  padding: 6px 8px;
  /* color: #aaa; */
}
.path li a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}

.path li + li::before {
  content: "/";
  color: #aaa;
  position: absolute;
  left: 0;
}

.wrap {
  display: flex;
  margin: auto;
}

.about .wrap .item {
  /* width: 300px; */
  /* border: 1px solid #aaa; */
  margin: 5px 10px;
  /* padding: 10px; */
}

.all-control {
  margin-top: 80px;
}

.about {
  width: 100%;
}

.about h2 {
  text-align: center;
  /* border: 1px solid #000; */
  font-size: 42px;
}

.wrap {
  /* width: 960px; */
  max-width: 960px;
  margin: auto;
  /* border: 1px solid #000; */
}
.about .wrap {
  display: flex;
  text-align: center;
}

.item .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 80px;
}

.about > p {
  text-align: center;
  padding: 20px;
  width: 50%;
  margin: auto;
}

.product {
  display: flex;
  max-height: 350px;
  /* border: 1px solid #000; */
  /* height: 400px; */
}

.product img {
  vertical-align: bottom;
}

.product .item {
  width: 50%;
}

.product .pic img {
  object-fit: cover;

  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  /* width: 100%; */
}

.product .item h3 {
  /* font-size: 20px; */
  text-align: center;
}

.product .text {
  text-align: center;
  background: #ccc;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
}

.item h3 {
  font-size: 24px;
  margin: 0 auto 25px;
}

.container {
  display: flex;
}

.service {
  /* display: flex; */
  margin: auto;
  width: 100%;
}

.service h2 {
  text-align: center;
  font-size: 42px;
  margin: 80px 0 40px;
}

.col {
  /* object-fit: cover; */
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: rgb(199, 213, 229);
}

.col img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.footer {
  text-align: center;
  background-color: #000;
  color: #888;
  padding: 20px 0;
  margin-top: 80px;
}
